body{
  background-image: url(https://as1.ftcdn.net/v2/jpg/03/83/96/36/1000_F_383963677_qgpulgMAhewYHgWMfh91K2k2ukk5HMMx.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.signin, #listado {
    width: 100%;
    max-width: 500px;
    margin: auto;
    background-color: beige;
  }

.invalid{
  background-color: red;
}

#filtro-rango-pag {
  padding: 15px;
  background-color: beige;
  width: fit-content;
}


#info-user {
  padding: 15px;
  background-color: rgb(229, 245, 220);
  border: 1px black solid; 
}

#cantPaginas{
  font-size: 85%;
}

#titulo,#contenido{
  background-color: beige;
  border-radius: 10px;
  padding: 10px;
}

.caja{
  width: 100px;
}

.infoAd{
  margin: 0px;
}

/* #numberInput *{
  width: 25%;
} */